body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

#authSidebar{
position:fixed;
width:250px;
height:100vh;
background:#111827;
color:white;
padding:15px;
}

#authSidebar input, #authSidebar button{
width:100%;
margin:5px 0;
padding:8px;
}

#mainApp nav{
display:flex;
justify-content:space-between;
background:white;
padding:10px;
}

#cardsContainer .card{
background:white;
padding:10px;
margin:10px 0;
border-radius:8px;
}
